.principal{
    display: flex;
    flex-direction: row;
}
.principal img{
    margin-top:auto;
    margin-bottom:auto;
    width: 30%;
}
.content{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(224, 224, 168);
    font-size: 6vw;
    width: 80%;
    margin: auto;
}
.content p{
    color: white;
    font-size: 2vw;
    padding: 8%;
}
.content h1{
    text-align: center;
    font-size: 4vw;
}
.etiquetas_contenido{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
    margin: auto;
}
.etiqueta{
    width: 50vw;
    margin: 2%;
}
.etiqueta img{
    display: block;
    width: 14vw;
    margin: auto;
}
.etiqueta h1{
    text-align: center;
    font-size: 4vw;
}
.etiqueta p{
    border-radius: 10px;
    background-color: rgb(255, 0, 85);
    color: white;
    padding: 2%;
    font-size: 1.2vw;
}
.cont_videos{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction:row;
    justify-content:center;
}
.video_media{
    width: 20%;
}

@media screen and (max-width: 768px){
    .etiqueta{
        width: 100%;
    }
    .cont_videos{
        width: 100%;
        display: flex;
        flex-direction:row;
    }
    .video_media{
        width: 20%;
    }
}

@media screen and (max-width: 520px){
    .principal{
        display: flex;
        flex-direction: column;
    }
    .principal img{
        display: none;
    }
    .content{
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(224, 224, 168);
        font-size: 2vw;
        width: 80%;
        margin: auto;
    }
    .content p{
        color: white;
        font-size: 4vw;
        padding: 8%;
    }
    .content h1{
        text-align: center;
        font-size: 6vw;
    }
    .etiquetas_contenido{
        display:flex;
        flex-direction: column;
        width: 80vw;
        margin: auto;
    }
    .etiqueta{
        width: 80vw;
        margin: auto;
    }
    .etiqueta img{
        display: block;
        width: 16vw;
        margin: auto;
    }
    .etiqueta h1{
        text-align: center;
        font-size: 6vw;
    }
    .etiqueta p{
        border-radius: 10px;
        background-color: rgb(255, 0, 85);
        color: white;
        padding: 2%;
        font-size: 3vw;
    }
}