<app-nav-bar></app-nav-bar>
<app-tool-bar></app-tool-bar>

<!-- Search Bar -->
<div class="search">
        <input id="input-search" [(ngModel)]='dato' type="text" placeholder="Type product's name">
</div>
<br>
<p>click on the cart if you're done</p>
<br>
<div class="opciones_de_estilo">
        <img (click)="setButtonColor('fresa')" src="../../assets/icons/fresa.png" alt="" srcset="">
        <img (click)="setButtonColor('manzana')"  src="../../assets/icons/manzana.png" alt="" srcset="">
        <img (click)="setButtonColor('uvas')"  src="../../assets/icons/uvas.png" alt="" srcset="">
</div>

<div class="menu_productos">
            <img src="../../assets/icons/cupcake.png" title="Desserts" alt="logo de postres">
            <img src="../../assets/icons/smoothie.png" title="Smoothies" alt="logo de smoothie">
            <img src="../../assets/icons/frutas.png" title="Fruits" alt="logo de frutas">
</div> 

<!-- CARDS DE LOS PRODUCTOS -->
<div  class="conCards">
        <div *ngFor="let item of frutas | search:dato" class="card">
                <img class="card_img" [src]="item.imagen" alt="imagen del producto">
                <h2>{{item.nombre}}</h2>
                <span>{{item.precio}} EUR/kg</span>
                <!-- <div *ngIf="item.tieneDescuento" class="descuento">
                        <img src="../../assets/icons/etiqueta.png" alt="" srcset="">
                </div> -->
                <div class="btn_container">
                        <button (click)="Add(item.nombre,item.precio)"  [ngClass]="btn_disenio">
                                <img src="../../assets/icons/add-cart.png" alt="añadir" srcset="">
                        </button>
                        <button [routerLink]="['/details',item.nombre,{url:item.src}]"  [ngClass]="btn_disenio">
                                <img src="../../assets/icons/info.png" alt="añadir" srcset="">
                        </button>
                        <button   [ngClass]="btn_disenio">
                                <img src="../../assets/icons/marcador-de-favoritos.png" alt="info" srcset="">
                        </button>
                </div>
        </div>
</div>







